@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

button {
    border-radius: 8px;
    background: #FF5400;
    transition: transform 1s ease;
}

button:hover {
    cursor: pointer;
    transform: scale(1.1);
}

input {
    transition: transform 1s ease;
}
.items li{
    transition: transform 1s ease;
}
.item li:hover{
    cursor: pointer;
    transform: scale(1.1);
}
input:hover {
    cursor: pointer;
    transform: scale(1.1);
    outline: #FF5400;
}

.des-img,.news-img {
    transition: transform 1s ease;
}

.des-img:hover {
    cursor: pointer;
    transform: scale(1.1);
}
.news-img:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.offer1,
.offer2 {
    transition: transform 1s ease;
}

.offer1:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.offer2:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.fa-facebook,
.fa-twitter,
.fa-instagram,
.fa-github {
    transition: transform 1s ease;
}

.fa-facebook:hover {
    transform: scale(1.1);
}

.fa-twitter:hover {
    transform: scale(1.1);
}

.fa-instagram:hover {
    transform: scale(1.1);
}

.fa-github:hover {
    transform: scale(1.1);
}

.logo h3 {
    transition: transform 1s ease;
}

.logo h3:hover {
    transform: scale(1.1);
}
.opinion{
    transition: transform 1s ease;
}
.opinion:hover{
    transform: scale(1.1);
    border: 2px solid rgb(167, 167, 237);
}
/* header */
header {
    margin-top: 52px;
    margin-bottom: 49px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.navbar .logo {
    display: flex;
    align-items: center;
    gap: 16px;
}

.navbar .logo:hover {
    transform: scale(1, 1);
}

.navbar .logo h3 {
    color: #131318;
    font-size: 36px;
    font-weight: 800;
}

.navbar span {
    color: #FF5400;
}

.navbar .menu,
.navbar .items {
    display: flex;
    gap: 44px;
}

.navbar ul li {
    list-style: none;
}

.navbar ul li a {
    text-decoration: none;
    color: #424247;
    font-size: 18px;
}

.navbar ul li .home {
    color: #FF5400;
}

.navbar .menu .nav-icon {
    opacity: 0;
}

/* header end */
/* banner start */
.banner {
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url("Images/banner.png");
    border-radius: 16px;
    text-align: center;
    background-size: 100% 100%;
    padding: 105px 0;
}

.banner h1 {
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
    margin-bottom: 24px;
}

.banner p {
    margin-bottom: 50px;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
}

.banner .search-container {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    padding: 16px;
    display: flex;
    justify-content: center;
    gap: 24px;
    max-width: 800px;
    margin: 0 auto;
}


.banner .search-container button {
    width: 174px;
}

.search-container input {
    padding: 16px;
    border-radius: 8px;
    border: 0;
    outline: 0;
}

.input-field {
    position: relative;
}

.input-field input {
    width: 100%;
}

.down-arrow {
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
    color: rgba(19, 19, 24, 0.50);
}

.banner button {
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: 0;
}

/* banner end */
/* popular-travel start */
.popular-travel {
    display: flex;
    gap: 50px;
    margin-top: 100px;
}

.popular-travel h1 {
    margin-bottom: 24px;
    color: #131318;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.popular-travel .popular-text>p {
    margin-bottom: 24px;
}

.popular-travel ul {
    margin-left: 20px;
}

.popular-travel ul li {
    margin-bottom: 16px;
}

.popular-travel button {
    border-radius: 8px;
    background: #FF5400;
    margin-top: 8px;
    padding: 15px 35px;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    border: 0;
}

/* popular travel end */
/* choose your destination start */
.destination {
    margin-top: 100px;
}

.des-text {
    margin-bottom: 48px;
    text-align: center;
}

.des-text h1 {
    margin-bottom: 24px;
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.des-text p {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
}

.des-img {
    position: relative;
    display: flex;

}

.img-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.img-text h3 {
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
}

.destination .img-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 24px;
}

.img-container img {
    width: 100%;
    border-radius: 16px;
}

.img1 {
    grid-column: 1 / 7;
}

.img2 {
    grid-column: 7 / -1;
}

.img3 {

    grid-column: 1 / 5;
}

.img4 {
    grid-column: 5 / 10;
}

.img5 {
    grid-column: 10 / -1;
}

.img6 {
    grid-column: 1 / 6;
}

.img7 {
    grid-column: 6 / -1;
}

/* choose your destination end */
/* who choose us start */
.choose-us {
    margin-top: 100px;
}

.choose-text {
    margin-bottom: 50px;
    text-align: center;
}

.choose-text h1 {
    margin-bottom: 24px;
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.choose-card .card {
    padding: 32px;
    border-radius: 16px;
    max-width: 573px;
}

.yellow-card {
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}

.blue-card {
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

.pink-card {
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}

.choose-card .card img {
    margin-bottom: 16px;
}

.choose-card .card h3 {
    color: #131318;
    font-family: Mulish;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 16px;
}

.choose-card .upper {
    display: flex;
    gap: 24px;
    margin-bottom: 24px;
}

.choose-card .lower {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* choose us end */
/* discount start */
.discount {
    margin-top: 100px;
}

.discount-text {
    text-align: center;
}

.discount-text h1 {
    margin-bottom: 24px;
}

.discount-text p {
    margin-bottom: 48px;
}

.discount h3 {
    color: #131318;
    font-family: Mulish;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.discount h1 {
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.discount button {
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    border: 0;
}

.offer {
    padding: 50px;
    max-width: 580px;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
}

.offer .part {
    margin-right: 24px;
}

.offer .span-part {
    margin-bottom: 26px;
}

.offer .part .icon {
    margin-right: 8px;
    color: #FF5400;
}

.offer h3 {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 16px;
}

.offer .p {
    margin-bottom: 26px;
}

.offer h4 {
    color: #FF5400;
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 24px;
}

.offer button {
    padding: 14px 25px;
}

.offer1 {
    padding: 55px 55px 55px 535px;
    background: url('Images/group39.png');
    background-size: 100% 100%;
    margin-bottom: 24px;
    border-radius: 16px;
}

.offer2 {
    background: url('Images/group40.png');
    padding: 55px 535px 55px 55px;
    background-size: 100% 100%;
    margin-bottom: 24px;
    border-radius: 16px;
}

/* discount end */
.see-all-pakage {
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding: 14px;
    border: 0;
    margin-top: 30px;
    margin-left:630px ;
}
/* extra 1 */
.offer3 {
    padding: 55px 55px 55px 535px;
    background: url('Images/scaled.png');
    background-size: 100% 100%;
    margin-bottom: 24px;
    border-radius: 16px;
}
.off {
    padding: 50px;
    max-width: 580px;
    border-radius: 16px;
    /* border: 2px solid #FFF; */
}
.off h3{
    color: #FFF;
    font-family: Mulish;
    margin-bottom: 20px;
}
.off p{
    color: #dfdddd;
    font-family: Mulish;
    margin-bottom: 20px;
}
.off button{
    padding: 14px 14px;
    border-radius: 8px;
    background: #FF5400;
    border: 0;
}
/* extra one end */
/* extra two */
.travelers-opinion{
    margin-top: 80px;
}
.opinion-heading {
    text-align: center;
}

.opinion-heading  h1 {
    margin-bottom: 30px;
    color: #121212;
    font-family: Mulish;
    font-size: 48px;
}

.opinion-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
}

.opinion-container .opinion {
    padding: 30px;
    border-radius: 8px;
    box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.1);
    border: 2px solid rgba(128, 132, 133, 0.2);
}

.opinion-container .opinion h4{
    margin-bottom: 8px;
    font-size: 18px;
    font-family: Mulish;
}
/* extra two end */
/* newsletter start */
.newsletter {
    display: flex;
    gap: 24px;
    margin-top: 100px;
}

.news-form {
    padding: 40px;
    border-radius: 16px;
    border: 1px solid #FF5400;
}

.news-form h3 {
    color: #131318;
    font-family: Mulish;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 16px;
}

.news-form p {
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
}

.news-form hr {
    margin: 24px 0;
    opacity: 0.5;
}

.news-form hr:hover {
    background-color: #FF5400;
}

.news-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
}

.news-btn {
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.news-form form input {
    width: 100%;
    padding: 16px 20px;
    margin-bottom: 16px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    border: 0;
    outline: 0;
}

.news-form form button {
    width: 100%;
    padding: 14px 0;
    border-radius: 8px;
    background: #FF5400;
    border: 0;
}

.news-img-text {
    max-width: 324px;
    border-radius: 16px;
    background: #FF5400;
    padding: 20px 40px;
    color: #FFF;
    text-align: center;
    position: absolute;
    bottom: 0;
    right: -20px;
    transform-origin: left bottom;
    transform: rotate(-21deg);

}

.news-img {
    position: relative;
}

.news-img-text h4 {
    font-size: 24px;
    margin-bottom: 4px;
    font-weight: 400;
}

.news-img-text h2 {
    font-size: 32px;
    font-weight: 800;
}

/* newsletter end */
/* footer start */
footer {
    margin-top: 100px;
    background: rgba(19, 19, 24, 0.05);
    text-align: center;
    padding: 110px 385px;
    height: 450px;
}

.footer .footer-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin-bottom: 16px;
}

.footer h3 {
    color: #131318;
    font-size: 32px;
    font-weight: 800;
}

.footer span {
    color: #FF5400;
}

.footer p {
    max-width: 769px;
    margin-bottom: 32px;
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.footer hr {
    margin-bottom: 1px solid rgba(19, 19, 24, 0.10);
    margin: 50px 0;
}

.footer .footer-social-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.footer .footer-social-icons i {
    font-size: 28px;
}

p .small {
    color: rgba(19, 19, 24, 0.70);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-bottom: 80px;
}

/* footer end */




/* responsibe for mobile device only */

@media screen and (max-width:600px) {
    .navbar {
        margin-left: 20px;
        margin-right: 20px;
    }

    .navbar .items {
        display: none;
    }

    .navbar .menu .nav-icon {

        opacity: 1;
    }

    .navbar .logo {
        gap: 10px;
    }

    .navbar .logo img {
        width: 35px;
    }

    .navbar .logo h3 {
        font-size: 22px;
    }

    .navbar {
        margin-bottom: 20px;
    }

    .banner {
        padding: 32px 24px;
        background-size: cover;
        background-position: center;
        object-fit: cover;
        margin-left: 20px;
        margin-right: 20px;
    }

    .banner h1 {
        font-size: 22px;
        margin-bottom: 8px;
    }

    .banner p {
        font-size: 14px;
        line-height: 20px;
    }

    .banner .search-container {
        flex-direction: column;
        gap: 16px;
    }

    .banner .search-container .input-box,
    .banner .search-container button {
        width: 100%;
    }

    .banner .search-container button {
        padding: 15px 35px;
    }

    .popular-travel {
        flex-direction: column;
        padding: 0 20px;
        gap: 24px;
    }

    .popular-img img {
        width: 100%;
    }

    .popular-text h1 {
        margin-bottom: 16px;
    }

    .popular-text>p {
        margin-bottom: 16px;
    }

    .popular-text ul li {
        margin-bottom: 12px;
    }

    .destination h2 {
        font: 16px;
    }

    .destination p {
        font: 14px;
    }

    .destination .img-container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(7, 1fr);
        gap: 16px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .img-container img {
        width: 100%;
        max-height: 200px;
        object-fit: cover;
    }

    .img1 {
        grid-column: 1 / 1;
    }

    .img2 {
        grid-column: 1 / 1;
    }

    .img3 {

        grid-column: 1 / 1;
    }

    .img4 {
        grid-column: 1 / 1;
    }

    .img5 {
        grid-column: 1 / 1;
    }

    .img6 {
        grid-column: 1 / 1;
    }

    .img7 {
        grid-column: 1 / 1;
    }

    .choose-us {
        padding: 0 20px;
    }

    .choose-text h1 {
        margin-bottom: 16px;
    }

    .choose-text p {
        margin-bottom: 16px;
    }

    .choose-card .upper {
        flex-direction: column;
        gap: 16px;
        margin-bottom: 16px;
    }

    .choose-card .card img {
        margin-bottom: 12px;
    }

    .choose-card .card h3 {
        margin-bottom: 16px;
    }

    .choose-us {
        margin-top: 40px;
    }

    .discount {
        padding: 0 20px;
        margin-top: 30px;
    }

    .discount-text h1,
    .discount-text p {
        margin-bottom: 16px;
    }

    .discount-card {
        padding: 16px;
        margin-bottom: 16px;
    }

    .offer {
        padding: 24px;
    }

    .offer .span-part {
        margin-bottom: 18px;
    }

    .offer h4 {
        margin-bottom: 16px;
    }

    .offer1,
    .offer2 {
        padding: 185px 15px 15px;
    }

    .discount-card {
        background-size: cover;
        background-position: center;
    }
    .see-all-pakage {
        display: none;
    }
    .newsletter {
        gap: 16px;
        flex-direction: column;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 50px;
    }


    .news-form h3 {
        font-size: 20px;
        margin-bottom: 8px;
    }

    .news-img-text {
        padding: 15px 30px;
        right: -15px;
    }

    .news-img-text h4 {
        font-size: 16px;
    }

    .news-img-text h2 {
        font-size: 22px;
    }

    .news-img img {
        height: 300px;
    }

    .news-form hr {
        margin: 16px 0;
    }

    footer {
        padding: 35px 20px;
        margin-top: 30px;
        height: 309px;
    }

    .footer .footer-logo h3 {
        font-size: 22px;
    }

    .footer p {
        margin-bottom: 16px;
        font-size: 14px;
    }

    .footer hr {
        margin: 24px 0;
    }
    
    .footer .footer-social-icons {
        gap: 24px;
    }

    .footer .footer-social-icons i {
        font-size: 24px;
    }
    .travelers-opinion {
        padding: 0 20px;
    }

    .opinion-container {
        grid-template-columns: 1fr;
    }
    .travelers-opinion{
        margin-top: 30px;
    }

}